@font-face {font-family: "OpenSans Regular";src: url("../fonts/OpenSans-Regular.ttf");}
@font-face {font-family: "OpenSans Bold";src: url("../fonts/OpenSans-Bold.ttf");}


/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    color: #000000;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

a, a:hover, a:active {
    outline: none;
    border: none;
}
a:hover {
    text-decoration: none;
}
button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}

.form-field::-webkit-input-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field::-moz-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field:-moz-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}

.form-field-dark::-webkit-input-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark::-moz-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark:-moz-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark:-ms-input-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}

.form-field-large::-webkit-input-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large::-moz-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large:-moz-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large:-ms-input-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

ul li {display: inline-block;}

h1 {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 36px;
    font-weight: 100;
}
h2 {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 220px;
}

.block-content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    line-height: 1.2;
}

/* header */
.header-top {
    padding: 25px 50px 50px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 149px;
    height: 37px;
    background: url('../images/logo.png') no-repeat center;
    background-size: cover;
    float: left;
}
.form-search {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    border: 1px solid #ececec;
    margin-left: 7.5%;
    float: left;
}
.form-search .form-field-wrap {
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}
.form-search .form-field {
    width: 270px;
    height: 100%;
    padding: 0 15px;
}
.form-search input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 31px;
    background: #0068ba;
    margin-right: 2px;
    color: #ffffff;
    font-family: "OpenSans Bold", sans-serif;
}

.sign-block {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    float: right;
}
.sign-block .sign-in {
    display: inline-block;vertical-align: middle;
    color: #0068ba;
    font-size: 14px;
    margin-right: 5px;
}
.sign-block .sign-up {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 37px;
    line-height: 37px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #0068ba;
    text-decoration: none;
}
nav {
    display: block;
    width: 100%;
    background: #7f9fae;
    text-align: center;
}
nav>ul>li {
    position: relative;
    margin: 0 3px;
}
nav ul li a {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
}
nav ul li ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 58px;
    left: 0;
    text-align: left;
    background: #548094;
}
nav ul li ul li {
    width: 100%;
    margin-top: 5px;
}
nav ul li ul li:last-child {
    margin-bottom: 5px;
}
nav ul li ul li a {
    height: 20px;
    line-height: 20px;
    font-weight: 100;
}
nav ul li ul li:hover {
    background: #7f9fae;
}
nav ul li:hover {
    background: #548094;
}
nav ul li:hover ul {
    display: block;
}
.image-server-room {
    display: block;
    width: 100%;
    padding-top: 33.33333%;
    background: url('../images/background-header.png') no-repeat center;
    background-size: cover;
}

.products {
    padding: 50px 0 75px;
    background: url('../images/background-abstract.png') no-repeat center;
    background-size: cover;
}
.products .block-content>ul>li {
    width: 250px;
    margin: 25px 10px;
    background: #ffffff;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.products .block-content>ul>li:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
.products h2 {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7f9fae;
    margin-bottom: 10px;
}
.products ul li ul li {
    display: block;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
    text-align: left;
}
.products ul li ul li:last-child {
    border-bottom: none;
}
.products .parameter-name {
    font-size: 12px;
    color: #9d9e9e;
    display: inline-block;
    width: 54%;
    padding-left: 10px;
}
.products .parameter-value {
    font-size: 16px;
    display: inline-block;
    width: 44%;
    padding-left: 10px;
}
.products .product-cost {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
}
.products button {
    width: 175px;
    height: 45px;
    line-height: 45px;
    background: #0068ba;
    margin: 30px 0;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom: 2px solid transparent;
}
.products button:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    background: url('../images/sprite-basket.png') no-repeat left center;
    background-size: cover;
}
.products button:hover {
    background: #ffcc00;
    border-bottom: 2px solid #ffa600;
}
.products button:hover:after {
    background: url('../images/sprite-basket.png') no-repeat right center;
    background-size: cover;
}

.news {
    padding: 25px 0;
    text-align: right;
}
.news ul {
    width: 100%;
    text-align: center;
}
.news ul li {
    width: 305px;
    height: 340px;
    margin: 25px 15px;
    background: #7f9fae;
    position: relative;
    overflow: hidden;
}
.news .image-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: 80px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.news .image-news img {
    display: block;
    width: 100%;
    height: auto;
}
.news .text-block {
    text-align: left;
    padding: 15px 25px 20px;
}
.news .text-block p {
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0 20px;
}
.news .text-block a {
    display: inline-block;
    width: 105px;
    height: 40px;
    line-height: 34px;
    border: 3px solid #ffffff;
    background: transparent;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.news .text-block a:hover {
    background: #0068ba;
    border: 3px solid #0068ba;
}
.news ul li:hover .image-news {
    margin-top: 0;
}
.news .see-all-news {
    font-size: 14px;
    color: #7f9fae;
    margin-right: 70px;
}

.reviews {
    padding: 20px 0;
    background: #ececec;
}
.reviews h2 {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 30px;
    color: #2b2a29;
}
.reviews .slider {
    display: block;
    width: 950px;
    margin: 0 auto;
}
.reviews .slide {
    display: block;
    min-height: 200px;
}
.reviews .photo-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 50px;
}
.reviews .photo-wrap img {
    display: block;
    width: 100%;
    height: auto;
}
.reviews .review {
    display: inline-block;
    vertical-align: middle;
    width: 650px;
    text-align: left;
}
.review .reviewer-name {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #2b2a29;
}
.review .reviewer-info {
    font-size: 16px;
    color: #2b2a29;
    font-style: italic;
    margin: 10px 0 15px;
}
.review .review-text {
    color: #2b2a29;
    font-size: 14px;
    line-height: 1.5;
}
.reviews .slider .slick-dots {
    margin-top: 25px;
}
.reviews .slider .slick-dots li {
    margin: 0 3px ;
}
.reviews .slider .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    background: #0068ba;
    color: transparent;
    line-height: 0;
    font-size: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reviews .slider .slick-dots li:hover button {
    background: #008ae1;
}
.reviews .slider .slick-dots .slick-active button, .reviews .slider .slick-dots .slick-active:hover button {
    background: #9d9e9e;
}

.partners {
    padding: 40px 0 50px;
}
.partners .partner-logo {
    width: 17%;
    vertical-align: middle;
    margin: 0 1%;
}
.partners .partner-logo img {
    display: block;
    width: 100%;
    height: auto;
}

.footer {
    display: block;
    width: 100%;
    background: #548094;
    text-align: center;
    padding: 25px 0 40px;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .block-content>ul>li {
    width: 200px;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
}
.footer ul li ul li {
    display: block;

}
.footer ul li p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "OpenSans Bold", sans-serif;
}
.footer ul li ul li a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}
.footer ul li ul li a:hover {
    text-decoration: underline;
}
