@font-face {font-family: "OpenSans Regular";src: url("../fonts/OpenSans-Regular.ttf");}
@font-face {font-family: "OpenSans Bold";src: url("../fonts/OpenSans-Bold.ttf");}


/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    color: #000000;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

a, a:hover, a:active {
    outline: none;
    border: none;
}
a:hover {
    text-decoration: none;
}
button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}

.form-field::-webkit-input-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field::-moz-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field:-moz-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 14px;color: #c5c6c6;opacity: 1;}

.form-field-dark::-webkit-input-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark::-moz-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark:-moz-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}
.form-field-dark:-ms-input-placeholder {font-size: 14px;color: #9d9e9e;opacity: 1;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

.form-field-large::-webkit-input-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large::-moz-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large:-moz-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}
.form-field-large:-ms-input-placeholder {font-size: 16px;color: #c5c6c6;opacity: 1;}

ul li {
    list-style: none;
    display: inline-block;
}

h1 {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 36px;
    font-weight: 100;
}
h2 {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 220px;
}

.block-content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    line-height: 1.2;
}

/* header */
.header-top {
    padding: 25px 50px 50px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 149px;
    height: 37px;
    background: url('../images/logo.png') no-repeat center;
    background-size: cover;
    float: left;
}
.form-search {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    border: 1px solid #ececec;
    margin-left: 7.5%;
    float: left;
}
.form-search .form-field-wrap {
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}
.form-search .form-field {
    width: 270px;
    height: 100%;
    padding: 0 15px;
}
.form-search input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 31px;
    background: #0068ba;
    margin-right: 2px;
    color: #ffffff;
    font-family: "OpenSans Bold", sans-serif;
}

.sign-block {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    float: right;
}
.sign-block .sign-in {
    display: inline-block;vertical-align: middle;
    color: #0068ba;
    font-size: 14px;
    margin-right: 5px;
}
.sign-block .sign-up {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 37px;
    line-height: 37px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #0068ba;
    text-decoration: none;
}
nav {
    display: block;
    width: 100%;
    background: #7f9fae;
    text-align: center;
}
nav .mobile-menu {
    display: none;
    position: relative;
    z-index: 1;
}
nav>ul>li {
    position: relative;
    margin: 0 3px;
}
nav ul li a {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
}
nav ul li ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 58px;
    left: 0;
    text-align: left;
    background: #548094;
}
nav ul li ul li {
    width: 100%;
    margin-top: 5px;
}
nav ul li ul li:last-child {
    margin-bottom: 5px;
}
nav ul li ul li a {
    height: 20px;
    line-height: 20px;
    font-weight: 100;
}
nav ul li ul li:hover {
    background: #7f9fae;
}
nav ul li:hover {
    background: #548094;
}
nav ul li:hover ul {
    display: block;
}
.image-server-room {
    display: block;
    width: 100%;
    padding-top: 33.33333%;
    background: url('../images/background-header.png') no-repeat center;
    background-size: cover;
}

.products {
    padding: 50px 0 75px;
    background: url('../images/background-abstract.png') no-repeat center;
    background-size: cover;
}
.products .block-content>ul>li {
    width: 250px;
    margin: 35px 10px 25px;
    background: #ffffff;
    position: relative;
}
.products .block-content>ul>li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.products h2 {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7f9fae;
    margin-bottom: 10px;
}
.products ul li ul li {
    display: block;
    width: 85%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
    text-align: left;
}
.products ul li ul li:last-child {
    border-bottom: none;
}
.products .parameter-name {
    font-size: 12px;
    color: #9d9e9e;
    display: inline-block;
    vertical-align: middle;
    width: 54%;
    padding-left: 10px;
}
.products .parameter-value {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 44%;
    padding-left: 11px;
    height: 25px;
}
.products .ssl .parameter-value .text {
    display: inline-block;
    vertical-align: middle;
    background: #548094;
    font-family: "OpenSans Bold", sans-serif;
    color: #ffffff;
    font-size: 10px;
    height: 100%;
    width: 45px;
    padding-left: 5px;
}
.products .icon-lock {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    background: #989898 url('../images/icon-lock.png') no-repeat center;
    background-size: 45%;
}
.products .product-cost {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
}
.products button {
    width: 175px;
    height: 45px;
    line-height: 45px;
    background: #0068ba;
    margin: 30px 0;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom: 2px solid transparent;
}
.products button:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    background: url('../images/sprite-basket.png') no-repeat left center;
    background-size: cover;
}
.products button:hover {
    background: #ffcc00;
    border-bottom: 2px solid #ffa600;
}
.products button:hover:after {
    background: url('../images/sprite-basket.png') no-repeat right center;
    background-size: cover;
}

.news {
    padding: 25px 0;
    text-align: right;
}
.news ul {
    width: 100%;
    text-align: center;
}
.news ul li {
    width: 305px;
    height: 340px;
    margin: 25px 15px;
    background: #7f9fae;
    position: relative;
    overflow: hidden;
}
.news .image-news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: 80px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.news .image-news img {
    display: block;
    width: 100%;
    height: auto;
}
.news .text-block {
    text-align: left;
    padding: 15px 25px 20px;
}
.news .text-block p {
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0 20px;
}
.news .text-block a {
    display: inline-block;
    width: 105px;
    height: 40px;
    line-height: 34px;
    border: 3px solid #ffffff;
    background: transparent;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.news .text-block a:hover {
    background: #0068ba;
    border: 3px solid #0068ba;
}
.news ul li:hover .image-news {
    margin-top: 0;
}
.news .see-all-news {
    font-size: 14px;
    color: #7f9fae;
    margin-right: 70px;
}

.reviews {
    padding: 20px 0;
    background: #ececec;
}
.reviews h2 {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 30px;
    color: #2b2a29;
}
.reviews .slider {
    display: block;
    width: 950px;
    margin: 0 auto;
}
.reviews .slide {
    display: block;
    min-height: 200px;
}
.reviews .slide, .reviews .slide:hover, .reviews .slide:active {
    outline: none;
    border: none;
}
.reviews .photo-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 50px;
}
.reviews .photo-wrap img {
    display: block;
    width: 100%;
    height: auto;
}
.reviews .review {
    display: inline-block;
    vertical-align: middle;
    width: 650px;
    text-align: left;
}
.review .reviewer-name {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #2b2a29;
}
.review .reviewer-info {
    font-size: 16px;
    color: #2b2a29;
    font-style: italic;
    margin: 10px 0 15px;
}
.review .review-text {
    text-indent: 35px;
    color: #2b2a29;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}
.reviews .slider .slick-dots {
    margin-top: 25px;
}
.reviews .slider .slick-dots li {
    margin: 0 3px ;
}
.reviews .slider .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    background: #0068ba;
    color: transparent;
    line-height: 0;
    font-size: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reviews .slider .slick-dots li:hover button {
    background: #008ae1;
}
.reviews .slider .slick-dots .slick-active button, .reviews .slider .slick-dots .slick-active:hover button {
    background: #9d9e9e;
}

.partners {
    padding: 40px 0 50px;
}
.partners .partner-logo {
    width: 17%;
    vertical-align: middle;
    margin: 0 1%;
}
.partners .partner-logo img {
    display: block;
    width: 100%;
    height: auto;
}

.footer {
    display: block;
    width: 100%;
    background: #548094;
    text-align: center;
    padding: 25px 0 40px;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .block-content>ul>li {
    width: 190px;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
}
.footer ul li ul li {
    display: block;

}
.footer ul li p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "OpenSans Bold", sans-serif;
}
.footer ul li ul li a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}
.footer ul li ul li a:hover {
    text-decoration: underline;
}

/*** reg-page ***/
.reg-control {
    width: 650px;
    margin: 80px auto 40px;
    border-bottom: 1px solid #7f9fae;
}
.reg-control li {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: 1px solid transparent;
    border-bottom: 1px solid #7f9fae;
    vertical-align: bottom;
    width: 35%;
    cursor: pointer;
    margin-bottom: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reg-control li:first-child {
    margin-right: 5%;
}
.reg-control .active {
    border: 1px solid #7f9fae;
    border-bottom: 1px solid #ffffff;
}
.reg-forms li {
    display: block;
    width: 650px;
    margin: 0 auto;
    text-align: left;
    padding: 0 10px;
}
.reg-forms .form-reg-org {
    display: none;
}
.reg-forms .form-field-wrap {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
    width: 75px;
}
.form-reg-org .form-field-wrap {
    width: 250px;
}
.reg-forms .form-field {
    display: inline-block;
    width: 280px;
    height: 30px;
    margin-right: 250px;
    padding-left: 15px;
    border: 1px solid #7f9fae;
}
.form-reg-org .form-field {
    margin-right: 0;
    padding-left: 15px;
    border: 1px solid #7f9fae;
}
.checkbox-hidden {
    display: none;
}
.form-field-checkbox {
    display: block;
    min-height: 1px;
    margin: 15px 0 15px 80px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
}
.form-field-checkbox + a {
    color: #003399;
}
.form-field-checkbox:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    border: 1px solid #7f9fae;
    color: #99cc33;
    position: absolute;
    margin: auto;
    left: 0;
    top: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.checkbox-hidden:checked + .form-field-checkbox:before {
    content: '\2714';
    font-size: 10px;
    line-height: 12px;
}
.reg-forms input[type="submit"] {
    width: 220px;
    height: 35px;
    line-height: 33px;
    background: #0068ba;
    color: #ffffff;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 30px 0 100px 22%;
}
.form-reg-org input[type="submit"] {
    margin-left: 50%;
}

/** modal window **/
.window-sign {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    text-align: left;
    z-index: 5;
}
.window-inner-sign {
    position: absolute;
    width: 750px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0068ba;
    text-align: center;
    z-index: 10;
}
.window-inner-sign header {
    text-align: right;
    background: #ffffff;
}
.close-marker {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 30px;
    border: 2px solid #0068ba;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #0068ba;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.close-marker:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sign-control {
    display: block;
    width: 100%;
    text-align: center;
}
.sign-control li {
    width: 25%;
    height: 50px;
    font-size: 18px;
    color: #0068ba;
    line-height: 50px;
    cursor: pointer;
}
.sign-control .active {
    background: #0068ba;
    color: #ffffff;
}
.sign-control li a {
    color: #0068ba;
}
.window-sign form {
    width: 100%;
    padding: 0 15% 0 20%;
    text-align: right;
}
.window-sign form p {
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
}
.form-password-recovery {
    display: none;
}
.form-sign-in p {
    margin-top: 60px;
}
.form-password-recovery p {
    margin-top: 85px;
}
.window-sign .form-field-wrap {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}
.window-sign .form-field {
    width: 100%;
    height: 45px;
    padding-left: 20px;
}
.window-sign input[type="submit"] {
    height: 45px;
    line-height: 45px;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 25px;
    background: #ffcc00;
    border-bottom: 2px solid transparent;
}
.window-sign input[type="submit"]:hover {
    border-bottom: 2px solid #ff6600;
}

@media (max-width: 1000px) {
    .products .block-content > ul > li:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .header-top {
        padding: 20px 0;
    }
    .logo, .form-search, .sign-block {
        float: none;
        margin: 20px 50px;
    }
    .products .block-content > ul > li {
        margin: 25px;
    }
    .news .image-news {
        margin-top: 0;
    }
    .news {
        text-align: center;
    }
    .news .see-all-news {
        margin: 0;
    }
    .reviews .slider {
        width: 700px;
    }
    .reviews .review {
        width: 400px;
    }
    .wrapper {
        padding-bottom: 440px;
    }
    .footer {
        height: 440px;
    }
    .footer .block-content > ul > li {
        margin: 20px 25px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        display: block;
        float: none;
        width: 100%;
    }
    nav>ul>li>a {
        line-height: 1.1;
        font-size: 22px;
        height: auto;
        padding: 15px;
    }
    nav .mobile-menu {
        display: block;
        text-align: center;
        background: #7f9fae;
        cursor: pointer;
        height: 56px;
        line-height: 56px;
        text-transform: uppercase;
    }
    nav .mobile-menu span {
        font-family: "OpenSans Bold", sans-serif;
        font-size: 25px;
        color: #ffffff;
    }
    nav .mobile-menu .to-hide {
        display: none;
    }
    nav .opened .to-hide {
        display: inline-block;
    }
    nav .mobile-menu .to-open {
        display: inline-block;
    }
    nav .opened .to-open {
        display: none;
    }
    nav ul li ul {
        position: static;
        width: 100%;
        text-align: center;
        background: transparent;
    }
    nav ul li ul li {
        margin: 10px 0;
    }
    nav ul li ul li a {
        font-size: 18px;
        padding: 10px;
    }
    nav ul li ul li:hover {
        background: transparent;
    }
    nav ul li:hover {
        background: transparent;
    }

}
@media (max-width: 768px) {
    .reviews .slider {
        width: 100%;
    }
    .reviews .photo-wrap {
        display: block;
        margin: 0 auto 25px;
    }
    .reviews .review {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
    }
    .reviews .review .review-text {
        text-align: justify;
    }
    .footer .block-content > ul > li {
        margin: 20px 10px;
    }
    .window-inner-sign {
        width: 475px;
        height: 450px;
    }
    .close-marker {
        margin: 10px;
    }
    .sign-control li {
        width: 30%;
        height: 45px;
        font-size: 15px;
        line-height: 45px;
    }
    .sign-control li a {
        font-size: 15px;
    }
}
@media (max-width: 660px) {
    .wrapper {
        padding-bottom: 0;
    }
    .footer {
        height: auto;
        position: static;
    }
    .footer .block-content > ul > li {
        margin: 20px 10px;
    }
    .reg-control, .reg-forms li {
        width: 90%;
    }
    .reg-forms .form-field-wrap {
        display: block;
        margin: 20px auto 5px;
        width: 280px;
    }
    .reg-forms .form-field {
        display: block;
        width: 280px;
        margin: auto;
    }
    .form-field-checkbox {
        width: 280px;
        margin: 25px auto 5px;
    }
    .reg-forms input[type="submit"] {
        display: block;
        width: 280px;
        margin: 30px auto 100px;
    }
    .reg-control li {
        width: 45%;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        line-height: 1.2;
    }
    .news ul li {
        width: 280px;
        height: 340px;
        margin: 25px auto;
        background: #7f9fae;
        position: relative;
        overflow: hidden;
    }
    .products .block-content > ul > li {
        margin: 25px auto;
        display: block;
    }
    .form-search {
        border: 1px solid transparent;
        margin: 10px auto;
        height: auto;
    }
    .form-search .form-field-wrap {
        display: block;
        height: 37px;
        border: 1px solid #ececec;
    }
    .form-search input[type="submit"] {
        margin-right: 0;
        margin-top: 10px;
    }
    .sign-block {
        height: auto;
    }
    .sign-block a {
        margin: 10px;
    }
    .reg-control li {
        font-size: 14px;
    }
    .reg-control, .reg-forms li {
        width: 95%;
    }
    .window-inner-sign {
        width: 310px;
        height: 400px;
    }
    .window-inner-sign header {
        text-align: right;
        background: #ffffff;
    }
    .close-marker {
        margin: 10px;
    }
    .sign-control li {
        font-size: 13px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: bottom;
    }
    .sign-control li:nth-child(1) {
        width: 30%;
    }
    .sign-control li:nth-child(2) {
        width: 20%;
        line-height: 1;
    }
    .sign-control li:nth-child(3) {
        width: 45%;
    }
    .sign-control li a {
        font-size: 13px;
    }
    .form-field-large::-webkit-input-placeholder {font-size: 12px;}
    .form-field-large::-moz-placeholder {font-size: 12px;}
    .form-field-large:-moz-placeholder {font-size: 12px;}
    .form-field-large:-ms-input-placeholder {font-size: 12px;}

    .window-sign form p {
        margin: 30px 0 10px;
        font-size: 14px;
    }
    .window-sign .form-field-wrap {
        height: 35px;
    }
    .window-sign .form-field {
        height: 35px;
        padding-left: 10px;
        font-size: 13px;
    }
    .window-sign input[type="submit"] {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .reg-control li {
        font-size: 12px;
    }
}